<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{modalTitle}}</h4>
        <button class="close" aria-label="Close" (click)="closeModal(null)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="option1">{{labelOption1}}</label>
                    <div *ngIf="descriptionOption1" class="col-md-12">
                        {{descriptionOption1}}
                    </div>
                    <select *ngIf="options1.length > 0" class="form-control" id="option2" (change)="changeOption1($event.target.value);">
                        <option [value]="undefined">Selecione...</option>
                        <option *ngFor="let item of options1" [value]="item">{{enumType.converter(item)}}</option>
                    </select>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label for="option2">{{labelOption2}}</label>
                    <div *ngIf="descriptionOption2" class="col-md-12">
                        {{descriptionOption2}}
                    </div>
                    <select *ngIf="options2.length > 0" class="form-control" id="option2" (change)="changeOption2($event.target.value);">
                        <option [value]="undefined">Selecione...</option>
                        <option *ngFor="let item of options2" [value]="item[objectReturn]">{{item[objectText]}}</option>
                    </select>
                </div>
            </div>

            <div *ngIf="hasNote" class="col-md-12">
                <div class="form-group">
                    <label for="note">{{noteTitle}}</label>
                    <input type="text" class="form-control" id="note" placeholder="" (keyup)="onKey($event.target.value)">
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-auth btn-with-icon" (click)="closeModal({result: true})">
            <i class="ion-android-checkmark-circle"></i>{{labelButtonTrue}}</button>

        <button class="btn btn-default btn-auth btn-with-icon" (click)="closeModal({result: false})">
            <i class="ion-close-circled"></i>{{labelButtonFalse}}</button>
    </div>

    <span *ngIf="warning" style="text-align: center;" class="help-block sub-little-text">Confirmação Inválida!</span>
</div>